body {
    .ecommerce_pos {
        margin-top: 25px;
        background: linear-gradient(83.02deg,rgba(245,215,255,.56),rgba(240,224,243,.56) 41.84%,rgba(238,231,253,.56) 66.32%,rgba(235,247,255,.56));
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 16px;
        display: block; 
        .container {
            max-width: 1200px;
            width: 100%;
            margin: 0 159.6px;     
            .row {
                display: flex;
                flex-wrap: wrap;
                .ecommerce_pos_details {
                    width: 100%;
                    background-image: url(../../../public/images/ecommerce/e-com-Free-Bag-Mockup.svg);
                    background-position: 100% 100%;
                    background-repeat: no-repeat;
                    background-size: 450px;
                    
                    padding-bottom: 64px;
                    padding-top: 48px;
                    flex: 0 0 100%;
                    max-width: 100%;    
                    img {
                        margin-bottom: 24px;
                    }
                    h4 {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 32px;
                        line-height: 48px;
                        color: rgba(0,0,0,.87);
                        letter-spacing: .25px;
                    }
                    a {
                        margin-top: 24px;
                        background: #9c5c8f;
                        color: #fff;
                        cursor: default;
                        min-width: 200px;
                        cursor: pointer;

                        height: 48px;
                        padding: 12px 16px;
                        
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: .1px;
                        font-weight: 400;
                        border-radius: 6px;
                        cursor: pointer;
                        outline: none;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        text-decoration: none;
                        display: inline-block;
                        text-align: center;
                    }
                }
            }
        }
    }
}